# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env
.env.*.local
dist/
build/
.DS_Store
coverage/
.vscode/
.idea/
logs/
*.log
tmp/
temp/
.nyc_output/
.eslintcache
.parcel-cache/
.next/
.vercel/
src/services/livekit/agent.md
src/services/livekit/agent-old.ts